@model IEnumerable<CRUDVentas.Models.Tbl_Ventas>

@{
    ViewBag.Title = "Ventas";
}

<h2>Ventas</h2>

<p>
    @Html.ActionLink("Agregar venta", "Create", new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("Exportar excel", "Export", new { @class = "btn btn-success" })
</p>
<p>
    @Html.ActionLink("Exportar excel ventas marzo y junio 2022 (Metropolitana y Rancagua)", "ExportVentas", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rut_vendedor) @Html.DisplayNameFor(model => model.Tbl_Vendedor.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.margen) %
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rut_vendedor) @Html.DisplayFor(modelItem => item.Tbl_Vendedor.nombre)
        </td>
        <td>
            $ @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Comision.margen) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_venta }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Detalle", "Details", new {  id=item.id_venta }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Eliminar", "Delete", new {  id=item.id_venta }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
